# Source files
src/
*.ts
*.tsx
*.jsx

# Build files
*.map
tsconfig.json

# Development files
.vscode/
.editorconfig
.eslintrc
*.code-workspace

# Documentation
*.md
release/

# Logs
*.log

# Dist files (to prevent recursive inclusion)
dist/

# Other
.DS_Store
dotfiles.tar.gz
jtubesetup.command
changelog.md